{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "factories": [
          "@tic-tac-ws/ws-control"
        ]
      }
    ]
  ]
}
